{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h3>{{ product.title }}</h3>
            <p>{{ product.timestamp|timesince }}</p>
            {{ product.description|linebreaks }}
            <br>
            {% if product.image %}
                <img class="img-fluid" src="{{product.image.url}}" alt="Product Iamge">
            {% endif %}
        </div>
        <div class="col">
            {% include 'product/snippets/product-update.html' with produt=product cart=cart %}
        </div>
    </div>
</div>
{% endblock %}