{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            {% for product in products %}
            <div class="col">{% include "product/snippets/snippet.html" with instance=product %}
            
                    {% if forloop.counter|divisibleby:3 %}
                        </div></div><div class="row"><div class="col-12"><hr></div>
                    {% else %}
                </div>
                    {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}