{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
                <div class="text-center">
                        <h1>Register Page</h1>
                </div>
                <div class="col-sm-6 col-12">
                        <form action="" method="post">
                            {% csrf_token %}
                                {{ form }} <br>
                                <button class="btn btn-primary" type="submit">Submit</button>
                        </form>
                </div>
        </div>
    </div>
</div>
{% endblock %}